{% include "header.html" %}
<div class="section section-notifications" id="notifications" style="padding:80px">

{% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
    <div class="alert alert-warning alert-with-icon">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span data-notify="icon" class="tim-icons icon-bulb-63"></span>
            <span>
              <b> {{ message }} </b></span>
          </div>
  {% endfor %}
          {% endif %}
    {% endwith %}
</div>
      <div class="section section-lg section-coins">
<div class="container">
    <div class="row">
              <div class="col-sm-3 col-6">
            <h1>My Collections</h1>
                </div>
              </div>
    <div class="row">
        {%for collection in collections%}
          <div class="col-sm-3 col">
              <img src="{{ collection.url }}" alt="Rounded image" class="img-fluid rounded shadow-lg" style="width: 300px;">
                <div class="btn-wrapper pt-3 text-center">
                    {% if collection.status == 'marketplace'%}
                    <a class="btn btn-info" href="">
                    Unlist From Marketplace
                    </a>
                    {% else %}
                    <a class="btn btn-primary" href="{{url_for('list_on_marketplace', collectible_id=collection.collectible_id)}}">
                    Sell On Marketplace
                    </a>
                    {% endif %}

                    </div>
          </div>
        {% endfor %}
    </div>
    </div>
      </div>
{% include "footer.html" %}